<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%team_name%></title>
    <link rel="stylesheet" href="public/home.css" />
  </head>

  <body>
    <h1></h1>

    <ul>
      <% players.each do |player| %>
        <li><%= player %></li>
      <% end %>
    </ul>
  </body>
</html>
