<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h1>TODO list</h1>

    <ul>
      <% players.each do |player| %>
        <li><%= player %></li>
      <% end %>
    </ul>
  </body>
</html>
